/* color selection
light bleu: #16619e;
dark bleu for active project: #004694;
light bleu for save and btn: 2b11e0;
dark orange for user hours in retainer running low warning: #ee4c31;
light orange :#f48f77;
green: #84c23f;
dark grey text: #414042;
light grey: #e6e7e8;
med grey: #d1d3d4
dark yellow: #f7a41b;
light yellow: #fbc16e;

*/

@import url('http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,100italic,300italic,400|Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>');

h1, h2, h3, h4, h5, p {
    font-family: "Roboto Condensed";
    font-weight: 400;
}

body {
    font-family: "Roboto Condensed";
    background-color:#f0f0f0;
    margin: 0;
    padding: 0;
}

td {
    padding: 2, 2, 2, 2;   
}

img{
 width: 100%;   
}

* {
   margin: 0px;
   padding: 0px;
}

#page-wrapper {
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#sidebar {
    width: 20%;
    height: 100%;
    background-color: #34282C;
    float: left;
    color: white;
    font-size: 6vw;
}

.logo{
 background-color: #fff;
 height: 15%;    
}

.logo img{
 padding-top: 3%;   
}

ul {
    align-content: center;
    list-style-type: none;
    display: grid;
/*    padding: 5px;*/
}

ul h2 {
    font-size: 12px;
}

ul h3 {
    font-size: 1vw;
}

.menuuser{
  margin-top: 3rem;   
}

.menuuser p{
    font-size: 19px;
    font-weight: 100;
    padding-top: 1.8rem;
}

.menuuser img{
 width: 30%;
 float: left;
 padding-left: 1rem;
 padding-right: 1rem;    
    
}

.menuitem {
    margin-bottom: 15px;
    padding-left: 15px;
    padding-bottom: 8px;
    font-size: 1vw;
}


#menu li:hover {
    background-color: #848482;
    height: 5rem;
}

#main-content {
    width: 80%;
    height: 100%;
    background-color: #E5E4E2;
    float: left;
    overflow: scroll;
}

#leftprojectpane {
    float: left;
    width: 50%;
    border-collapse:separate;
    border-spacing:0 40px;
}

#rightprojectpane {
    float: left;
    width: 50%;
    border-collapse:separate;
    border-spacing:0 40px;
}

.project-arrow {
    float: right;
}

.down-arrow {
    float: right;
    width: 30px;
}

.projecttd {
    margin: auto;
}

.project {
    margin: auto;
    width: 50%;
}

.project-item-1 {
    overflow: hidden;
    height: auto;
    border: 2px solid;  
    background-color: white;
}

.tdplaypause {
    align: left;
}

.tdtimer {
    align: right;
}

.txthrworked {
    text-align: center;
    float: left;
    font-size: 8px;
}

#tdspacer {
    width 100%;
}

.txthrleft {
    text-align: center;
    float: right;
    font-size: 8px;
}

.progbarcontainer {
    width: 100%;
}

.progressbar {
    width: 90%;
    height: 30px;
    margin:  auto;
    background-color: green;
    border: 4px solid black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
      box-sizing: border-box;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;   

    
    background-image: url(images/redpixel.png);
    background-position: -1px 0;
    background-repeat: repeat-y;
    background-size: 0%;
    overflow: hidden;
}

#project-notes-1 {
    align-content: center;
}

#project-textarea-1 {
    width: 90%;
    height: 100px;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 3px, 3px, 3px, 3px;
    resize: none;
    overflow: hidden;
    outline: none;
}

#weekday-summary {
    height: 55px;
    width: 85%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 15%;
    background-color: #E5E4E2;
    overflow: visible;
    z-index: 1000;
}

#weekday-summary td {
    width: 80px;
    background-color: #ffffff;
}

.weekday-total {
    background-color: #B6B6B4;
    width:100%;
}